body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main-container{
    width: 835px;
    height: 942px;
    
}

.tittle{
    width: 100%;
    height: 118px;
    
    display: flex;
}
    .logo{
        width: 169px;
        height: 111px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img{
        width: 80%;
        height: 70px;
        
    }

    .uni-name{
        width: 494px;
        height: 111px;
        background-color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 20px;
    }

.days{
    width: 100%;
    height: 130px;
    border-top: 3px solid #5B5B5B;
    border-bottom: 3px solid #5B5B5B;
    gap: 7px;
    display: flex;
    flex-direction: column;
}
    .days div{
        width: 99%;
        height: 25px;
        display: flex;
        justify-content: start;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: 500;
    }

    .days-column-one div{
        width: 25%;
        height: 29px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 5px;
    }

.year{
    width: 100%;
    height: 103px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .year div{
        width: 100%;
        height: 30px;
        border:none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #92D14F;
        font-size: 23px;
        font-family: Arial, Helvetica, sans-serif;
    }

.months{
    width: 100%;
    height: 616px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}
    .month-container{
        width: 100%;
        height: 190px;
        display: flex;
        justify-content: space-between;
    }

    .month{
        width: 22%;
        height: 185px;
        border: 2px solid black;
    }

    .month div{
        width: 100%;
        height: 20px;
        
    }

    .month-name{
        background-color: #F1F1F1 ;
        color: black;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }

    .week-day{
        display: flex;
    }
    .week-day div{
        width: 38px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15PX;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
    }

.diaNoLaborable{
    background-color: black;
    color: white;
}

.periodoVacacional{
    background-color: #C4DFB4;
    color: #CF170C;
}

.inicioCuatrimestre{
    background-color: #EE7B2F;
    color: white;
}

.extraordinario{
    background-color: #FFFF00;

}

.calificacionesFinales{
    background-color: #006FC0;
    color: white;
}