*{
    padding: 0px;
    margin: 0px;
}

:root{
     --button-color: #1F9EF9;
}

body{
    display: grid;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows:  repeat(10,1fr);
    height: 100vh;
}

header{
    grid-column: 1/16;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

    img{
        width: 14%;
        height: 8vh;
    }

aside{
    grid-column: 1/3;
    grid-row: 2/11;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #F8F9FA;
    gap: 10px;
    
}

    .button{
        width: 95%;
        height: 5vh;
        background-color: #F8F9FA;
        color: black;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        border: none;
        border-radius: 13px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px;
        gap: 12px;
        transition: 0.3s ease all;
    }


    .button:hover{
        transform: translateX(5px);
        transition: 0.4s ease all;
        cursor: pointer;
        
    }


.main{
    grid-column: 3/16;
    grid-row: 2/11;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: scroll;
}

h2{
    color: var(--button-color);
    font-family: Arial, Helvetica, sans-serif;
}

.background-blue-color-white{
    background-color: var(--button-color);
    color: white;
}

a{
    text-decoration: none;
}

   