:root{
     --button-color: #1F9EF9;
}

.button-incidencias{
    background-color: var(--button-color);
    color: white;
}

.reportar-incidencias-form{
    width: 60%;
    padding: 10px;
    height: 25vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .reportar-incidencias-form input ,textarea{
        width: 30%;
        height: 4vh;
        padding: 5px;
        border: 1px solid black;
        border-radius: 10px;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        outline: none;
    }

    .reportar-incidencias-form input:focus{
        outline: none;

    }

    .reportar-incidencias-form button{
        width: 20%;
        height: 4vh;
        border: none;
        border-radius: 10px;
        background-color: var(--button-color);
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        color: white;
        transition: 0.4s ease all;
    }

    .reportar-incidencias-form button:hover{
        transform: translateY(-5px);
        transition: 0.3s ease all;
    }

.actualizar-Button{
        width: 10%;
        height: 4vh;
        border: none;
        border-radius: 10px;
        background-color: var(--button-color);
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        color: white;
        transition: 0.4s ease all;
    }

.incidencias-container{
    width: 97%;
    height: 45vh;
    
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.incidencias-container div{
        flex-shrink: 0;
        padding: 10px;
        width: 45%;
        height: 20vh ;
        transition: 0.3s ease all;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 7px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .incidencias-container div:hover{
        transition: 0.3s ease all;
        transform: translateY(-10px);
    }

.eliminar_formulario{
    width: 100%;
    height: 4vh;
    
}

    .eliminar_formulario button{
        background-color: red;
        border :none;
        width: 20%;
        height: 4vh;
        border-radius: 10px;
        color: white; 
    }
    .eliminar_formulario button:hover{
        cursor: pointer;
    }