body{
    background-color: #F8F9FA;
}

:root{
     --button-color: #1F9EF9;
}

.options{
    width: 98%;
    height: 78vh;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    
}

    .ancla{
        width:24%;
        height:22vh;
        color: black;
        text-decoration: none;
    }

    .acceso-rapido-container{
        height: 20vh;
        width: 91%;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        transition: 0.3s ease all;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }
        .acceso-rapido-container i{
            font-size: 35px;
            color: var(--button-color);
        }    

        .acceso-rapido-container h3{
            font-size: 22px;
        }

        .acceso-rapido-container p{
            font-size: 15px;
            color: #656565;
        }

    .acceso-rapido-container:hover {
        transform: translateY(-10px);
        transition: 0.3s ease all;
        cursor: pointer;
        background-color: var(--button-color);
        color: white;
    }

    .acceso-rapido-container:hover p  {
        transition: 0.3s ease all;
        color: white;
    }

    
    .acceso-rapido-container:hover i  {
        transition: 0.3s ease all;
        color: white;
    }