*{
    margin: 0px;
    padding: 0px;

}

:root{
     --button-color: #1F9EF9;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(240, 232, 232, 0.211);
}

.login-container{
    width: 55%;
    height: 60vh;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.18);
    background-color: white;
    
}

    .img-container{
        width: 50%;
        height: 60vh;
        
    }

    .img-container img{
        width: 90%;
        height: 95%;
        object-fit: contain;
    }

.formulario-login-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--button-color);
}

    .formulario-login-container input{
        width: 70%;
        height: 4vh;
        padding: 5px;
        border-radius: 6px;
        border: 1px solid black;
        font-size: 15px;
        transition: 0.1s ease all;
    }

    .formulario-login-container input:focus{
        transition: 0.1s ease all;
        overflow: hidden;
        color: var(--button-color);
        outline: none;
        border: 3px solid var(--button-color);
    }

    .formulario-login-container button{
        width: 40%;
        height: 5vh;
        background-color: white;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        border: 2px solid var(--button-color);
        border-radius: 10px;
        transition: 0.3s ease all;
        color: var(--button-color);
    }

    .formulario-login-container button:hover{
        cursor: pointer;
        transform: translateY(-7px);
        transition: 0.3s ease all;
        background-color: var(--button-color);
        color: white;
    }


