 body {
    font-family: Arial, sans-serif;
    margin: 20px;
    margin-left: 485px;
    margin-right: 162px;
    background-color: red;
 
  }

  .title_prin {
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-bottom: 223px;
  }

  .header {
    text-align: left;
    padding: 10px;
    margin-bottom: 20px;
  }

  .header h1 {
    font-size: 20px;
    margin: 5px 0;
    font-weight: bold;
  }


  .logo img {
    width: 123px;
    height: 60px;
    float: left;
    margin: 0;
    padding: 0;
  }

  .titulo {
    margin-left: 25%;
  }


  .lineas {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 716px;


  }

  .leyenda {

    display: flex;
    flex-wrap: wrap;
    width: 652px;
    justify-content: left;
    padding-right: 6%;
  }

  .cuadrito {
    width: 23px;
    height: 15px;
    display: flex;

  }

  .leyenda-item {
    font-size: 12px;
    display: flex;
    gap: 1px;
    align-items: center;
  }

  .año {
    width: 716px;
    height: 24px;
    background-color: rgb(139, 195, 74);
    color: white;
    text-align: center;
    align-items: center;
    margin-top: 32px;

  }

  .calendario {
    width: 717px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    justify-content: flex-start;
    margin-bottom: 118px;
  }
  .negro {
    background-color: black;
    color: white;
  }

  .rojo {
    color: red;
  }

  .mes {
    width: 151px;
    height: 137px;
    border: 1px solid black;
    margin-right: 26px;
    margin-bottom: 36px;
  }

  .nombre_mes p {
    border: 1px solid black;
    height: 14px;
    font-weight: bold;
    margin-top: 0;
    justify-content: center;
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 10px;
    background-color: rgb(236, 236, 236);
    font-weight: bold;

  }

  .dias {
    display: flex;
    margin-top: 0;
    margin: 0;
    padding: 0;
    border: 1px solid black;
  }

  .dias h3 {

    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 0;
    margin: 0;
    width: 23px;
    height: 15px;
    padding: 0;
    justify-content: center;
    font-size: 10px;
    align-items: center;
  }

  .fechas {
    display: flex;
    flex-wrap: wrap;
    width: 151px;
    border: 1px solid black;
    height: 104px;
    margin: 0;
    margin-top: 0;
  }


  .numero {
    width: 21px;
    height: 18px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    margin-top: 0;



  }

  /* 34pxs */

  .border-left {
    border-left: 2px solid black;
  }

  .border-rigth {
    border-right: 2px solid black
  }

  .border-bottom {
    border-bottom: 2px solid black;
  }