:root{
     --button-color: #1F9EF9;
}

.formulario-para-asignar-tarifas{
        width: 99%;
        height: 5vh;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px;
        
    }

    .formulario-para-asignar-tarifas input{
        width: 20%;
        height: 4vh;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid black;
        outline: none; 
    }

    .formulario-para-asignar-tarifas input:focus{
        border: 2px solid var(--button-color);
    }

    .enviar-Button{
        width: 10%;
        height: 4vh;
        border: none;
        border-radius: 10px;
        background-color: var(--button-color);
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        color: white;
        transition: 0.4s ease all;
    }

    .enviar-Button:hover{
        transition: 0.4s ease all;
        transform: translateY(-7px);
    }

.tarifas_container{
    width: 98%;
    height: auto;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

    .tarjeta{
        width: 20%;
        height: 31vh;
        padding: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        transition: 0.4s ease all;
    }

    .tarjeta p{
        font-size: 13px;
    }

    .tarjeta form{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .tarjeta input{
        width: 80%;
        height: 3vh;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid black;
        outline: none;
    }

    .tarjeta button{
        width: 40%;
        height: 4vh;
        border: none;
        border-radius: 10px;
        background-color: var(--button-color);
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        color: white;
        cursor: pointer;
        transition: 0.3s ease all;
    }

    .tarjeta button:hover{
        transition: 0.3s ease all;
        transform: translateX(5px);
    }

    .tarjeta:hover{
        transition: 0.3s ease all;
        transform: translateY(-10px);
        
    }
.registrar_Tarifa{
    background-color: var(--button-color);
    color: white;
}

.eliminar-tarifa-button{
    width: 40% !important;
    height: 4vh !important;
    border-radius: 20px !important;
    background-color: red !important;
    color: white !important;
    
}